{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% block title %}
<title>Register new user</title>
{% endblock %}


{% block body %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Join Today</legend>
            {{ form|crispy }}
        </fieldset>

        <div>
            <button type="submit" class="btn btn-outline-info">Sign up</button>
        </div>
    </form>

    <div>
        <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
    </div>

</div>


{% endblock %}